/*
Color Variables
$color-primary: #81d8d0;
Complementary
D9828B
Analagous
 82B6D9 82D9A5 
 82b6d8 82d8a4
*/

$color-primary: #74dacf;
$color-primary-light: #629eec;
// $color-primary-dark:
$color-secondary: #82b6d8;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Libre Baskerville', serif;
    // color: $color-primary;
}

/*****************************************HEADER********************************************************/

.header{
    position: relative;   
    height: 100vh;
   

    // border-left: 1rem solid $color-primary;
    background-image: url('../images/pexels-pixabay-266621.jpg');
    background-size: cover;
}
nav{
    background-color: #fff;
    height: 12vh;
    border-left: 1rem solid $color-primary;
    
}
.header__brand{
    // background-color: blue;
    position: absolute;
    top: 3%;
    left: 3%;
    font-size: 2rem;
}

.header__nav {
    // background-color: red;
    font-size: 1.5rem;
    position: fixed;
    top: 2%;
    display: inline-block;
    width: 50%;
    left: 66%;
    transform: translate(-10%);
    z-index:1;
    
}



.header__nav--ul{
    // background-color: red;
    list-style-type: none;
    

    
}

.header__nav--ul li{
    // background-color: red;
    float: left;
    padding: 1rem;
}

a{
    text-decoration: none;
   
}

a:link{
    color: #000;
    cursor:pointer;


}

a:visited{
    color: $color-primary-light;
}

a:hover{
   color: $color-primary; 
   cursor:pointer;
   
}

.header__button{
    position: absolute;
    top: 4%;
    display: inline-block;
    width: 10%;
    left: 60%;
}

.toggle-btn{
    background-color: transparent; /* Green */
    border:2px solid $color-primary;
    color: #000;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    border-radius: 5%;
}
.header__heading{
    margin-top: 25rem;
    width: 100%;
    display: inline-block;
    text-align: center;
   
   
}

.header__heading h1{
    color: #fff;
    font-size: 4.5rem;
    
}


/******************PRODUCT RINGS*********************/
.rings {
    // border-left: 1rem solid $color-secondary;
    height: 100vh;
    
    text-align: center;
    padding-top: 5%;
    border-right: 1rem solid $color-primary;

}

h2{
    text-align: center;
    font-size: 3rem;
    width: 100%;
}




.card__course--1 {
    background-color:red;
    border-radius: .8rem;/* 5px;*/
    border: 1px solid rgb(129, 97, 97);
    // box-shadow: 0rem .5rem .5rem black;
    display: inline-block;
    background-color: white;
    margin: 7rem 2rem;
    height: 35rem;
    width: 28rem;
    display: inline-block;
    position: relative;
}

.card__course--1:hover{
    box-shadow: 0px 8px 5px black;
}



.card__course--heading {
    height: 20%;
    position: absolute;
    top:75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.card__banner {
    position: absolute;
    top: 0%;
    height: 60%;
    width: 100%;
    border-top-right-radius:.8rem;
    // border-bottom-right-radius:.5rem;
    // border-bottom-left-radius:.5rem;
    // border: 1px solid black;
}

.card__img--1 {
    height: 100%;
    width: 100%;
    border-top-right-radius:.8rem;
    border-top-left-radius:.8rem;
    // border-bottom-right-radius:.5rem;
    // border-bottom-left-radius:.5rem;
    // border: 1px solid black;
}

.card__banner--link {
    height: 100%;
    width: 100%;
}

p{
    font-size: 1.5rem;
}

.ring-sample {
    height: 70vh;
    
    background-image: url('../images/pexels-glauber-torquato-2219195.jpg');
    background-size: cover;
    background-position: center;
}

.necklace-sample{
    height: 70vh;
    
    background-image: url('../images/pexels-engin-akyurt-1458867.jpg');
    background-size: cover;
    background-position: center;
}

.necklaces{
    height: 100vh;
    text-align: center;
    padding-top: 5%;
    border-left: 1rem solid $color-primary;
}


.earings{
    height: 100vh;
    
    text-align: center;
    padding-top: 5%;
    border-bottom: .1rem solid #000;

}



// .btn {
//     width: 150px;
//     height: 50px;
//     border: 1px solid #333;
//     font-family: 'Cinzel', serif;
//     font-size: 20px;
//     cursor: pointer;
//     -webkit-tap-highlight-color: transparent;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     position: relative;
//     z-index: 0;
//     transition: 1s;
//   }
  
// .toggle-btn::before, .btn::after {
//     position: absolute;
//     background: #eee;
//     z-index: -1;
//     transition: 1s;
//     content: '';
//   }
  
//   .toggle-btn::before {
//     height: 50px;
//     width: 130px;
//   }
  
//   .toggle-btn::after {
//     width: 150px;
//     height: 30px;
//   }
  
//   .noselect {
//     -webkit-touch-callout: none;
//       -webkit-user-select: none;
//        -khtml-user-select: none;
//          -moz-user-select: none;
//           -ms-user-select: none;
//               user-select: none;
//   }
  
//   .toggle-btn:hover::before {
//     width: 0px;
//     background: #fff;
//   }
  
//   .toggle-btn:hover::after {
//     height: 0px;
//     background: #fff;
//   }
  
//   .toggle-btn:hover {
//     background: #fff;
//   }

  /********************FOOTER SECTION*******************************/
  .footer{
      height: 45vh;
    //   background-color: orangered;
    //   border-bottom: .5rem solid $color-primary;
    padding: 2.5rem;
  }

  .footer__List{
    list-style-type:none;
    float:left;
    
  }

  .footer__li{
      float: right;
    //   background-color: red;
      clear:both;
      padding: 1.5rem;

  }